[submodule "vimfiles/pack/plugins/start/papercolor"]
	path = vimfiles/pack/plugins/start/papercolor
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vimfiles/pack/plugins/start/editorconfig"]
	path = vimfiles/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vimfiles/pack/plugins/start/commentary"]
	path = vimfiles/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vimfiles/pack/plugins/start/ctrlp"]
	path = vimfiles/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vimfiles/pack/plugins/start/nerdtree"]
	path = vimfiles/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vimfiles/pack/plugins/start/lsc"]
	path = vimfiles/pack/plugins/start/lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "terminal-cfg/ohmyzsh"]
	path = terminal-cfg/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
